/* Meyer Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ***************************************************

 ---------- My solution starts from here -----------

****************************************************** */

/* define variables on root */

:root {
  font-family: "Roboto", sans-serif;

  --primary-color: #084c61;
  --btn-hover: #0c6985;
  --gray-1: #fafaf9;
  --gray-2: #e7e5e4;
  --gray-3: #c0bebd;
  --gray-t: #68615c;
  --accent: #611d08;
  --font-size-1: 1.2rem;
  --font-size-2: 1.5rem;
  --font-size-3: 1.3rem;

  --image-size-1: 50px;
  --image-size-2: 75px;

  --shadow-header: 0 6px 12px -1px rgb(0 0 0 / 0.4);
  --shadow-card: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}

svg {
  width: 25px;
}

img {
  width: 50px;
}

/* setting grid on the main page */
.main-page-container {
  display: grid;
  grid-template-columns: 300px 3fr;
  height: 100vh;
}

/***************
------- setting sidebar ------- 
***************/

.sidebar-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  row-gap: 40px;
  background-color: var(--primary-color);
  font-size: var(--font-size-1);
  padding: 20px;
}

.sidebar-container > div > h1 {
  display: grid;
  grid-template-columns: 40px 1fr;
  color: var(--gray-1);
  font-size: var(--font-size-2);
}

.sidebar-container > div > h1 > svg {
  width: 40px;
}

.sidebar-container > div > h1 > span {
  align-self: center;
}

nav {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  row-gap: 80px;
}

ul {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  row-gap: 20px;
}

nav > ul > li > a {
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: min-content;
  padding: 5px;
  color: var(--gray-1);
  font-weight: 700;
  font-size: var(--font-size-1);
}

nav > ul > li > a > span {
  align-self: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--gray-3);
}

/* right side of page */

/* 
**************
------- setting header ------- 
**************
*/

/* search section cell */

header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  box-shadow: var(--shadow-header);
  background-color: var(--gray-1);
}

.search-box {
  display: grid;
  padding: 5px;
}

.search-box > form {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: min-content;
  justify-self: center;
  align-self: top;
}

.search-box > form > input {
  width: 40vw;
  height: 3vh;
  border: none;
  background-color: var(--gray-2);
  border-radius: 1rem;
}

.search-box > form > input[type="text"] {
  padding: 6px;
}

.search-box > form > span {
  justify-self: center;
  align-self: center;
}

/* user name / profile picture section / bell icon */

.profile-container {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: min-content;
  padding: 5px;
  justify-self: center;
}

.profile-container > div {
  justify-self: center;
}

.bell-icon,
.profile-image,
.name {
  align-self: center;
}

.name {
  padding-left: 3rem;
}

.name p {
  font-size: large;
  font-weight: 900;
}

/* profile handle */

.profile-handle {
  display: grid;
  grid-template-columns: 100px 400px;
}

.profile-picture {
  justify-self: center;
  align-self: center;
}

.profile-picture img {
  width: var(--image-size-2);
}

.handle {
  display: grid;
  align-self: center;
  row-gap: 10px;
}

.handle-name {
  font-size: var(--font-size-2);
  font-weight: bolder;
}

/* buttons : new, upload and share */

.buttons-container {
  display: grid;
  grid-template-columns: repeat(3, 150px);
}

.buttons-container button {
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: var(--gray-1);
  font-size: 15px;
}

.buttons-container button:hover {
  background-color: var(--btn-hover);
}

.buttons-container div {
  align-self: center;
  justify-self: center;
}

/*****************************************
---setting grid on main projects and aside container
*******************************************/
main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 30px;
  background-color: var(--gray-2);
  height: 100vh;
}

.projects-container {
  display: grid;
  grid-template-rows: 30px auto;
}

.heading {
  font-size: 1.3rem;
  font-weight: bolder;
}

.project-cards {
  display: grid;
  gap: 2rem;
  padding: 4px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 220px);
}

.card {
  padding: 10px;
  box-shadow: var(--shadow-card);
  border-radius: 0.5rem;
  background-color: var(--gray-1);
  transition: all 0.4s;
}

.card:hover {
  border: 2px solid var(--primary-color);
}

.card > div {
  padding: 10px;
}

.card > div > h3 {
  font-weight: bolder;
  font-size: 1.15rem;
  padding-bottom: 5px;
}

.card p {
  color: var(--gray-t);
}

.project-cards .card {
  border-left: 10px solid var(--accent);
  display: flex;
  flex-direction: column;
}

.actions {
  margin-top: auto;
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.actions button {
  border: none;
  background-color: var(--gray-1);
}

.actions svg {
  background-color: var(--gray-1);
}

/********************
Announcements and Trending ---- updates section 
*********************/

.updates {
  padding-right: 20px;
  padding-left: 20px;
}

/* Announcements */

.announcements > h3,
.trending > h3 {
  padding-bottom: 13px;
}

article {
  padding: 10px;
}

.update {
  padding: 15px 0;
}

.update + .update {
  border-top: 2px solid var(--gray-2);
}

h4 {
  margin-bottom: 0.25rem;
  font-weight: bold;
}

/* Trending */
.trending {
  margin-top: 35px;
}

.handles-others {
  display: flex;
  align-items: center;
}

.handles-others > svg {
  width: 50px;
}

.handles-others > div {
  padding-left: 10px;

  margin-bottom: 10px;
}

.handles-others > div > h5 {
  padding-top: 5px;
  padding-bottom: 3px;
}

.handles-others + .handles-others {
  margin-top: 10px;
}
